.alert-heading{
    font-weight: $font-weight-bold;
}

.alert-icon{
    margin-bottom: .5rem;
    span{
        font-size: $alert-icon-font-size;
    }
}

.floating_guru {
    -webkit-animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) NaNs infinite alternate-reverse both !important;
    animation: slide-top 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) NaNs infinite alternate-reverse both !important;
}

@-webkit-keyframes floating_guru {
    0% {
      -webkit-transform: translateY(0) !important;
              transform: translateY(0) !important;
    }
    100% {
      -webkit-transform: translateY(-100px) !important;
              transform: translateY(-100px) !important;
    }
  }
@keyframes floating_guru {
  0% {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  100% {
    -webkit-transform: translateY(-100px) !important;
            transform: translateY(-100px) !important;
  }
}

  

